#root {
    --tw-ring-offset-width : 0px;
    --tw-ring-offset-color : #fff;
    --tw-ring-color        : rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow       : 0 0 transparent;
}